/* Partie App */

.App {
  width: 100vw;
  height: 100vh;
  min-width: 900px;
}

.App .leaflet-container {
  width: 100vw;
  height: 40vh;
}

.Flex {
  display: flex;
}

/* Partie ListingClients */

.ListingClients {
  width: 60vw;
  height: 50vh;
  background-color: rgb(65, 64, 64);
}
.ListingClients .List {
  height: 40vh;
  overflow: auto;
}
.ListingClients li {
  list-style: none;
  margin-bottom: 10px;
}

.ListingClients p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.ListingClients button {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(65, 64, 64);
  border: none;
}

.ListingClients button:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.ListingClients ul {
  align-content: center;
}

.ListingClients .Title {
  width: initial;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  background-color: rgb(48, 47, 47);
  padding: 5px;
  color: white;
}
